<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<div title="欢迎使用" style="padding:20px;overflow:hidden; color:red; " >
	<p style="font-size: 50px; line-height: 60px; height: 60px;">${systemInfo.schoolName}</p>
	<p style="font-size: 25px; line-height: 30px; height: 30px;">欢迎使用学生成绩管理系统</p>
  	<p>开发人员：xxx</p>

  	<hr />
  	<h2>系统环境</h2>
  	<p>系统环境：Windows10</p>
	<p>开发工具：idea   sublime   </p>
	<p>Java版本：JDK 1.8</p>
	<p>服务器：tomcat 8.5</p>
	<p>数据库：MySQL 5.1</p>
	<p>系统采用技术： SpringBoot + thymeleaf + ajex + mybatis + log4j  etc</p>
</div>
</body>
</html>